*.pyc
*.pcm
*.d
*.so
*_Dict.cxx
lib/*.tar.gz
*/obj
*_submit.sh
submitList
lib
python/UserInfo_helee.py
data/Run2Legacy_v3/2016/FakeRate
data/Run2Legacy_v3/2017/FakeRate
data/Run2Legacy_v3/2018/FakeRate
data/Run2Legacy_v4/2016/FakeRate
data/Run2Legacy_v4/2017/FakeRate
data/Run2Legacy_v4/2018/FakeRate
data/Run2Legacy_v4/2016/PileUp/histmap_default.txt
data/Run2Legacy_v4/2017/PileUp/histmap_default.txt
data/Run2Legacy_v3/2016/Sample/CommonSampleInfo/MajoranaNeutrinoTo*
data/Run2Legacy_v3/2016/Sample/ForSNU/MajoranaNeutrinoTo*
data/Run2Legacy_v4/2016/Sample/CommonSampleInfo/MajoranaNeutrino*
data/Run2Legacy_v4/2016/Sample/ForSNU/MajoranaNeutrinoTo*
